@import "~theme/variables.scss";

.results {
  .heading {
    .description {
      font-size: 30px;
      font-weight: $regular;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .values {
      font-size: 30px;
      font-weight: $bold;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  color: $accent-color;
  height: 100vh;

  .listing {
    width: auto;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 60px;
  }
}
