@import "~theme/variables.scss";

.results {
  .heading {
    h2 {
      font-size: 30px;
      font-weight: $bold;
      margin-left: 10px;
    }
  }

  color: $accent-color;

  height: 100vh;

  .listing {
    width: auto;
    box-sizing: border-box;
    margin-right: 20px;
  }
}
