$black: #000;
$white: #fff;

//GRAYSCALE
$silver: #ced0da;
$darkGrey: #354052;
$coolGrey: #9098a7;
$cloud: #e6eaee;
$ice: #eff3f6;
$mediumGrey: #dde2e5;

$mediumBlue: #204f7f;
$azure: #1a91eb;
$coolBlue: #5a9bcb;
$darkBlue: #04365e;

$mediumGreen: #39b54a;
$strawberry: #fb242c;

//THEME
$primary-color: #48b5e9;
$secondary-color: $white;
$accent-color: $mediumBlue

// FONT WEIGHTS
$regular: 400;
$semibold: 600;
$bold: 700;
